<h1>映画を検索</h1>

<%= form_with url: root_path, method: :get, local: true do %>
  <%= text_field_tag :query, params[:query], placeholder: "映画のタイトルを入力" %>
  <%= submit_tag "検索" %>
<% end %>

<% if @movies.present? %>
  <h2>検索結果:</h2>
  <ul>
    <% @movies.each do |movie| %>
      <li>
        <img src="https://image.tmdb.org/t/p/w200<%= movie['poster_path'] %>" alt="<%= movie['title'] %>">
        <p><strong>タイトル:</strong> <%= movie['title'] %></p>
        <p><strong>公開日:</strong> <%= movie['release_date'] %></p>
        <p><strong>評価:</strong> <%= movie['vote_average'] %> / 10</p>
        <p><strong>概要:</strong> <%= movie['overview'] %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>映画が見つかりませんでした。</p>
<% end %>
